// Fonts
$fontFamily  : 'Open Sans';

// Font Sizing
$baseFontSize      : 14px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;
$h1Size:20px;

// Colors
$black : #000E1E;
$black-light:#041528;
$gray:rgba(255,255,255,.5);
$red   : #ff2d2e;
$blue  : #00a1de;
$white:#FFFFFF;

$pieColors:'#0088fe', '#5eff5a', '#FFBB28', '#FF8042','#ef3e36ff','#01F1E3';

$gunmetal: #292f36ff;
$cinnabar: #ef3e36ff;
$electric-green: #5eff5a;
$yellow: #ffa63f;
$birches: #01F1E3;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;